{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="wide column">
      <div class="ui horizontal inverted divider"><i class="heart icon"></i></div>
      <h2 class="ui header">
        Add Serie
      </h2>
      <div class="ui form segment">
        <form action="/series/add/" method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}

          <div class="field {% if form.name.errors %}error{% endif %}">
            <label>{{ form.name.label }}</label>
            {{ form.name }}
            {% for error in form.name.errors %}
              <div class="ui red pointing above ui label">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="field {% if form.description.errors %}error{% endif %}">
            <label>{{ form.description.label }}</label>
            {{ form.description }}
            {% for error in form.description.errors %}
              <div class="ui red pointing above ui label">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="field {% if form.image.errors %}error{% endif %}">
            <label>{{ form.image.label }}</label>
            {{ form.image }}
            {% for error in form.image.errors %}
              <div class="ui red pointing above ui label">{{ error }}</div>
            {% endfor %}
          </div>

          <button type="submit" class="ui blue submit button">Submit</button>
          <div class="ui submit button"><a href="/">Cancel</a></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
