{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="wide column">
      <div class="ui horizontal inverted divider"><i class="heart icon"></i></div>
      <h2 class="ui header">
        Edit Serie
      </h2>
      <div class="ui error form segment">
        <form action="/series/{{ serie_id }}/edit/" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <input id="id" name="id" type="hidden" value="{{ serie_id }}">
        <div class="field">
          <div class="field">
            <label>{{ form.name.label }}</label>
            {{ form.name }}
          </div>
        </div>
        <div class="field">
          <label>{{ form.description.label }}</label>
            {{ form.description }}
        </div>
        <div class="field">
          <label>{{ form.image.label }}</label>
            {{ form.image }}
        </div>

          <button type="submit" class="ui blue submit button">Submit</button>
          <div class="ui submit button"><a href="/">Cancel</a></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
