{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="wide column">
      <div class="ui horizontal inverted divider"><i class="heart icon"></i></div>
      <h2 class="ui header">
        Edit Serie "#2 Lorem Ipsum"
      </h2>
      <div class="ui form segment">
        <form action="/series/add/" method="POST" enctype="multipart/form-data">
          <input id="csrf_token" name="csrf_token" type="hidden" value="1395280267.73##4d3ed1ea61cafcffd351accf58094e03f1f73425">

          <div class="field ">
            <label><label for="name">Name</label></label>
            <input id="name" name="name" type="text" value="">

          </div>

          <div class="field ">
            <label><label for="description">Description</label></label>
            <textarea id="description" name="description"></textarea>

          </div>

          <div class="field ">
            <label><label for="image">Image URL</label></label>
            <input id="image" name="image" type="text" value="">

          </div>

          <button type="submit" class="ui blue submit button">Submit</button>
          <div class="ui submit button"><a href="/">Cancel</a></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}