{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="wide column">
      <div class="ui horizontal inverted divider"><i class="heart icon"></i></div>
      <h2 class="ui header">
        More Series
        <a href="/series/add/" class="ui right green button">
          <i class="add icon"></i>
          Add a new Serie
        </a>
      </h2>
      <div class="ui doubling inverted connected items">
        <div class="row">
          <div class="item serie">
            <div class="image">
              <img src="http://semantic-ui.com/images/demo/highres4.jpg">
            </div>
            <div class="content">
              <div class="name">Lorem ipsum</div>
              <p class="description">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
              <br/>
              <div class="ui left medium heart rating" data-rating="5">
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <div class="ui right mini buttons">
                <div class="ui button"><a class="ui" href="/series/0/edit/">Editar</a></div>
                <div class="or"></div>
                <div class="remove-serie ui negative button">Remover</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="http://semantic-ui.com/images/demo/highres5.jpg">
            </div>
            <div class="content">
              <div class="name">Lorem ipsum</div>
              <p class="description">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
              <br/>
              <div class="ui left medium heart rating" data-rating="5">
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <div class="ui right mini buttons">
                <div class="ui button"><a class="ui" href="/series/0/edit/">Editar</a></div>
                <div class="or"></div>
                <div class="remove-serie ui negative button">Remover</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="http://semantic-ui.com/images/demo/highres3.jpg">
            </div>
            <div class="content">
              <div class="name">Lorem ipsum</div>
              <p class="description">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
              <br/>
              <div class="ui left medium heart rating" data-rating="5">
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <div class="ui right mini buttons">
                <div class="ui button"><a class="ui" href="/series/0/edit/">Editar</a></div>
                <div class="or"></div>
                <div class="remove-serie ui negative button">Remover</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="item">
            <div class="image">
              <img src="http://semantic-ui.com/images/demo/highres4.jpg">
            </div>
            <div class="content">
              <div class="name">Lorem ipsum</div>
              <p class="description">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
              <br/>
              <div class="ui left medium heart rating" data-rating="5">
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <div class="ui right mini buttons">
                <div class="ui button"><a class="ui" href="/series/0/edit/">Editar</a></div>
                <div class="or"></div>
                <div class="remove-serie ui negative button">Remover</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="http://semantic-ui.com/images/demo/highres5.jpg">
            </div>
            <div class="content">
              <div class="name">Lorem ipsum</div>
              <p class="description">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
              <br/>
              <div class="ui left medium heart rating" data-rating="5">
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <div class="ui right mini buttons">
                <div class="ui button"><a class="ui" href="/series/0/edit/">Editar</a></div>
                <div class="or"></div>
                <div class="remove-serie ui negative button">Remover</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="http://semantic-ui.com/images/demo/highres3.jpg">
            </div>
            <div class="content">
              <div class="name">Lorem ipsum</div>
              <p class="description">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
              <br/>
              <div class="ui left medium heart rating" data-rating="5">
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <div class="ui right mini buttons">
                <div class="ui button"><a class="ui" href="/series/0/edit/">Editar</a></div>
                <div class="or"></div>
                <div class="remove-serie ui negative button">Remover</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
