{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="wide column">
      <div class="ui horizontal inverted divider"><i class="heart icon"></i></div>
      <h2 class="ui header">
        More Series
        <a href="/series/add/" class="ui right green button">
          <i class="add icon"></i>
          Add a new Serie
        </a>
      </h2>
      <div class="ui doubling inverted connected items">
        <div class="row">
          {% for serie in series %}
            <div class="serie item">
              <div class="image">
                <img src="{{ serie.get('image') }}">
              </div>
              <div class="content">
                <div class="name">{{ serie.get('name') }}</div>
                <p class="description">{{ serie.get('description') }}</p>
                <br/>
                <div class="ui left medium heart rating" data-rating="{{ serie.get('rating')|int }}" data-serie="{{ serie.get('_id') }}">
                  {% for rating in range(0,5) %}
                    <i class="icon {% if rating < serie.get('rating')|int  %}active{% endif %}"></i>
                  {% endfor %}
                </div>
                <div class="ui right mini buttons">
                  <div class="ui button"><a class="ui" href="/series/{{ serie.get('_id') }}/edit/">Editar</a></div>
                  <div class="or"></div>
                  <div class="remove-serie ui negative button" data-serie="{{ serie.get('_id') }}">Remover</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
